
*{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.loginDiv{
    border:1px solid grey;
    width:25%;
    height:55vh;
    margin:auto;
    border-radius: 5px;
   
}
.login_form{
   text-align: center;
}
.login_form>input{
     width:75%;
     height: 30px;
     border-radius: 5px;
     padding: 10px;
     border: 1px solid grey;
}

#eye{
    position: relative;
    left:100px;
    bottom:25px;
}
#eye2{
    position: relative;
    left:100px;
    bottom:25px;
    display: none;
}
.login_form>[type="submit"]{
    width:76%;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(252,210,0);
    color:black;
    border: none;
}
.login_form>div{
   
    font-size: 11px;
    margin: 30px 55px;
    line-height: 1.5;
    word-spacing: 2;
}
.login_form>a{
    font-size: 11px;
    text-decoration: none;
}
.h1Login{
    margin-bottom: 15px;
    margin-left: 5px;
}
.h5Login{
    margin-bottom: 5px;
    margin-left: 5px;
}
.hrLogin{
  
    font-size:1px;
    width:50%;
    margin:auto;
    margin-top: 20px;
}
.icon_img{
    position: relative;
    left: 45%;
    margin-bottom: 30px;
    margin-top:30px;
}