
*{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.mainprodDetail{
    display:flex;

}
.advt{
    width:20%;
    border:2px solid brown;
    height:300px;

}

.prodDetail{
 
    display: flex;
    border:2px solid teal;
    height:500px;
    width:70%;
    margin-left: 60px;
}

